Repository nonlinear-labs-dev/C15, pull requests merged in 2021-06, with the labels that each got.

#2663 Issue 2662
  projects/epc/audio-engine/src/synth/C15Synth.cpp
  projects/epc/audio-engine/src/synth/input/InputEventStage.cpp
Labels: InputEventStage

#2601 Epc2 wifi
  build-tools/epc2/create-update/createEPC2UpdateDockerCommands.sh
  projects/epc/playground/src/device-settings/EpcWifi.cpp
  projects/epc/playground/src/device-settings/EpcWifi.h
  projects/epc/playground/src/device-settings/Passphrase.cpp
  projects/epc/playground/src/device-settings/Passphrase.h
  projects/epc/playground/src/device-settings/SSID.cpp
  projects/epc/playground/src/device-settings/SSID.h
  projects/epc/playground/src/device-settings/Settings.cpp
  projects/epc/playground/src/device-settings/WifiSetting.cpp
  projects/epc/playground/src/device-settings/WifiSetting.h
Labels: enhancement

#2691 AudioEngine - optional soft clipping
  projects/epc/audio-engine/src/synth/c15-audio-engine/ae_global_section.cpp
  projects/epc/audio-engine/src/synth/c15-audio-engine/ae_global_section.h
Labels: Audio Engine, enhancement
